<mat-toolbar class="dialogConfig title-header">
  <mat-toolbar-row class="filler">
    <span class="title">
      Ajouter une propriété
    </span>

    <button mat-icon-button (click)="onNoClick()">
      <mat-icon>
        clear
      </mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<mat-card>
  <mat-form-field>
    <span matPrefix>
      Clé&nbsp;:&nbsp;
    </span>

    <input matInput placeholder="aucune" value="{{ validationPropriete.key }}" [(ngModel)]="validationPropriete.key" />
  </mat-form-field>

  <mat-form-field>
    <span matPrefix>
      Commentaire&nbsp;:&nbsp;
    </span>

    <input matInput placeholder="aucune" value="{{ validationPropriete.comment }}" [(ngModel)]="validationPropriete.comment"
    />
  </mat-form-field>

  <mat-form-field>
    <span matPrefix>
      Valeur&nbsp;:&nbsp;
    </span>

    <input matInput placeholder="aucune" value="{{ validationPropriete.values[0] }}" [(ngModel)]="validationPropriete.values[0]"
    />
  </mat-form-field>

  <mat-card-actions>
    <button mat-raised-button color="accent" class="save-button" (click)="save()">
      Enregistrer
    </button>
  </mat-card-actions>
</mat-card>
