<mat-toolbar color="primary" class="elevation">
  <mat-toolbar-row class="filler">
    <div>
      <button mat-icon-button (click)="onMenu()">
        <mat-icon>
          menu
        </mat-icon>
      </button>
      <span class="title">
        PROMETHEUS
      </span>
    </div>


    <button mat-icon-button (click)="ouvrirFichierSetting()">
      <mat-icon>
        settings
      </mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
