<mat-toolbar class="dialogConfig title-header">
  <mat-toolbar-row class="filler">
    <span class="title">
      Confirmation
    </span>

    <button mat-icon-button class="button" (click)="onNoClick()">
      <mat-icon>
        clear
      </mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<mat-grid-list cols="6" rowHeight="100px">
  <mat-grid-tile [colspan]="2" [rowspan]="1">
    <mat-icon class="warning">
      warning
    </mat-icon>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="4" [rowspan]="1">
    <span class="content">
      Es-tu certains de vouloir supprimer cette validation?
    </span>
  </mat-grid-tile>
</mat-grid-list>

<div class="section-buttons">
  <button mat-raised-button color="warn" (click)="onNoClick()" class="button">
    Non
  </button>
  <button mat-raised-button color="accent" (click)="onYes()" class="button">
    Oui
  </button>
</div>
