.title-header {
  background: #d8d8d8;
  width: 400px;
}

.warning {
  color: #ffa64d;
  font-size: 72px;
  width: auto;
  height: auto;
}

/* devrait etre centraliser a l'app, donc dans style.scss */
.title {
  font-family: 'Play', sans-serif;
}

/* devrait etre centraliser a l'app, donc dans style.scss */
.content {
  font-family: 'Play', sans-serif;
  font-size: 20px;
}

.section-buttons {
  float: right;
  padding: 16px;
}

.button {
  margin-left: 16px;
}
