.central-zone {
  flex: 1 0 auto;
  height: calc(100% - 23px);
  max-height: calc(100% - 23px);
}

.content {
  padding: 24px;
  max-height: calc(100% - 112px);
  overflow-x: auto;
}

app-footer {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 2;
}
