<app-header (clickMenu)="sideMenu.toggle()"></app-header>

<mat-sidenav-container class="central-zone">
  <mat-sidenav #sideMenu opened mode="side" [fixedInViewport]="'fixed'" [fixedTopGap]="64">
    <app-sidebar></app-sidebar>
  </mat-sidenav>
  <div class="content">
    <router-outlet></router-outlet>
  </div>

</mat-sidenav-container>
<app-footer></app-footer>
