.settings-path {
  width: 415px;
  padding: 30px;
}

/* devrait etre centraliser a l'app, donc dans style.scss */
.clickable {
  cursor: pointer;
}

.centrale-contenu {
  background: #ffffff;
}

.title-header {
  background: #d8d8d8;
}

/* devrait etre centraliser a l'app, donc dans style.scss */
.title {
  font-family: 'Play', sans-serif;
}
