<mat-toolbar class="dialogConfig title-header">
  <mat-toolbar-row class="filler">
    <span class="title">
      Configuration
    </span>

    <button mat-icon-button (click)="onNoClick()">
      <mat-icon>
        clear
      </mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<div class="config-contenu">
  <mat-form-field class="settings-path">
    <span matPrefix>
      Settings.xml : &nbsp;
    </span>

    <input type="url" matInput #inputSetting placeholder="path" value="{{settingPath}}" (blur)="onBlur(inputSetting.value)" />

    <mat-icon matSuffix class="clickable" (click)="onGetSettingUrl()">
      description
    </mat-icon>
  </mat-form-field>
</div>
