<mat-accordion multi="true" *ngIf="settings['settings']">
  <mat-expansion-panel *ngFor="let profile of settingsProfiles">
    <mat-expansion-panel-header>
      <mat-panel-title style='align-items: center;'>
        {{ profile.id }} &nbsp;
        <mat-chip class="chip" selected="true" [color]="'warn'" *ngIf="profile.error">
          {{ profile.errorCount }}
        </mat-chip>
      </mat-panel-title>

      <mat-panel-description>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <mat-form-field *ngFor="let propriete of filtreProprietes(profile)" class="propertie">
      <input matInput placeholder="{{ propriete.key }}" value="{{ propriete.value }}" [(ngModel)]="propriete.value" />
    </mat-form-field>

    <mat-action-row>
      <mat-form-field>
        <mat-select placeholder="filtre" [(value)]="proprietefiltre">
          <mat-option value="{{ filtreTout }}">Tout</mat-option>
          <mat-option value="{{ filtreDefault }}">Default</mat-option>
          <mat-option value="{{ filtreAccesweb }}">Accesweb</mat-option>
          <mat-option value="{{ filtreAda }}">Ada</mat-option>
          <mat-option value="{{ filtreAdp }}">Adp</mat-option>
          <mat-option value="{{ filtreAme }}">Ame</mat-option>
          <mat-option value="{{ filtreFctoel }}">Fctoel</mat-option>
          <mat-option value="{{ filtreSrvam }}">Srvam</mat-option>
          <mat-option value="{{ filtreSrvlot }}">Srvlot</mat-option>
          <mat-option value="{{ filtreSrvpm }}">Srvpm</mat-option>
        </mat-select>
      </mat-form-field>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>

<div class="zone-buttons">

  <button mat-mini-fab color="accent" (click)="ouvrirM2()">
    <mat-icon>
      find_in_page
    </mat-icon>
  </button>

  <button mat-raised-button color="accent" class="button" [disabled]="!this.electronService.isElectronApp" (click)="saveXml()">
    Enregistrer
  </button>

  <button mat-raised-button color="accent" class="button" (click)="changementCentrale()">
    Changement de centrale
  </button>

  <button mat-raised-button color="accent" class="button" (click)="reinitialisation()">
    Réinitialisation
  </button>
</div>
