.zone-buttons {
  margin-top: 12px;
}

.button {
  float: right;
  margin-left: 12px;
}

.propertie {
  padding: 10px;
}

/* devrait etre centraliser a l'app, donc dans style.scss */
.clickable {
  cursor: pointer;
}

.navigation {
  padding-top: 10px;
}

.chip {
  border-radius: 24px;
  min-width: 24px;
  text-align: center;
}
