<mat-nav-list>

  <mat-list-item routerLink="accueil" routerLinkActive="active">
    <mat-icon class="icon-margin">
      explore
    </mat-icon>
    <span>
      Accueil
    </span>
  </mat-list-item>

  <mat-list-item routerLink="settings-profil" routerLinkActive="active">
    <mat-icon class="icon-margin">
      description
    </mat-icon>
    <span>
      Settings.xml
    </span>
  </mat-list-item>

  <!--<mat-accordion>
    <mat-expansion-panel class="no-shadow">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon class="icon-margin">
            description
          </mat-icon>
          <span>
            Settings.xml
          </span>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-nav-list class="no-padding-top">
        <mat-list-item routerLink="settings-profil" routerLinkActive="active">
          <span class="mat-nav-item sub-menu">Profils</span>
        </mat-list-item>
        <mat-list-item routerLink="settings-validation" routerLinkActive="active">
          <span class="mat-nav-item sub-menu">Validations</span>
        </mat-list-item>
      </mat-nav-list>
    </mat-expansion-panel>
  </mat-accordion>-->

  <mat-list-item>
    <a href="javascript:void(0)" class="mat-nav-item">
      <mat-icon class="icon-margin">
        folder_special
      </mat-icon>
      <span>
        Projets
      </span>
    </a>
  </mat-list-item>

  <span class="copyright">
    © Angry Nerds 2018
  </span>
</mat-nav-list>
