.sidenav {
  -webkit-box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12) !important;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12) !important;
}

.sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.mat-nav-item {
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mat-expansion-panel-header {
  padding: 0 16px;
}

.icon-margin {
  margin-right: 24px;
}

.sub-menu {
  padding-left: 24px;
}

.no-shadow {
  box-shadow: inherit !important;
}

.no-padding-top {
  padding-top: 0;
}

.copyright {
  position: absolute;
  bottom: 0;
  margin-left: 12px;
  margin-bottom: 24px;
  font-weight: 500;
}
