<mat-toolbar class="dialogConfig title-header">
  <mat-toolbar-row class="filler">
    <span class="title">
      Changement de centrale
    </span>

    <button mat-icon-button (click)="onNoClick()">
      <mat-icon>
        clear
      </mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<div class="centrale-contenu">
  <mat-form-field>
    <input matInput placeholder="centrale" value="{{centrale}}" [(ngModel)]="centrale" />
  </mat-form-field>

  <div class="section-buttons">
    <button mat-raised-button color="accent" (click)="save()">
      Enregistrer
    </button>
  </div>
</div>
