.title-header {
  background: #d8d8d8;
  width: 400px;
}

.centrale-contenu {
  background: #ffffff;
  padding: 30px;
  width: 340px;
}

/* devrait etre centraliser a l'app, donc dans style.scss */
.title {
  font-family: 'Play', sans-serif;
}

.section-buttons {
  float: right;
  margin-top: 20px;
}
