@import './theme-desjardins.scss';

@font-face {
  font-family: 'prometheusregular';
  src: url('./font/prometheus-webfont.woff2') format('woff2'), url('./font/prometheus-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Play', sans-serif;
  height: 100%;
  max-height: 100%;
  overflow: hidden;
}

html {
  height: 100%;
  max-height: 100%;
  overflow-y: hidden !important;
}

.filler {
  justify-content: space-between;
}

.app {
  background: #fafafa;
  display: flex;
  min-height: 100vh;
  height: 100%;
  flex-direction: column;
}

.mat-dialog-container {
  padding: 0px !important;
  overflow: hidden !important;
}

.mat-tab-body.mat-tab-body-active {
  overflow: hidden !important;
}

.mat-tab-body-content {
  overflow: hidden !important;
}

.elevation {
  position: relative;
  -webkit-box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
  z-index: 9;
}

.loading {
  margin: 100px;
}
