@import '~@angular/material/theming';
@include mat-core();

$mat-desjardins-vert: (
  50 : #e7f1e8,
  100 : #c3ddc5,
  200 : #9cc79e,
  300 : #74b077,
  400 : #569f59,
  500 : #388e3c,
  600 : #328636,
  700 : #2b7b2e,
  800 : #247127,
  900 : #175f1a,
  A100 : #9aff9d,
  A200 : #67ff6b,
  A400 : #34ff3a,
  A700 : #1aff21,
  contrast:
    (
      50: rgba(#403d39, 0.87),
      100: rgba(#403d39, 0.87),
      200: rgba(#403d39, 0.87),
      300: rgba(#403d39, 0.87),
      400: rgba(#403d39, 0.87),
      500: #fffcf2,
      600: #fffcf2,
      700: #fffcf2,
      800: rgba(#fffcf2, 0.87),
      900: rgba(#fffcf2, 0.87),
      A100: rgba(#403d39, 0.87),
      A200: #fffcf2,
      A400: #fffcf2,
      A700: #fffcf2
    )
);
$mat-desjardins-fonce: (
  50 : #e0ece2,
  100 : #b3cfb7,
  200 : #80b087,
  300 : #4d9057,
  400 : #267833,
  500 : #00600f,
  600 : #00580d,
  700 : #004e0b,
  800 : #004408,
  900 : #003304,
  A100 : #6bff6b,
  A200 : #38ff38,
  A400 : #05ff05,
  A700 : #00eb00,
  contrast:
    (
      50: rgba(#403d39, 0.87),
      100: rgba(#403d39, 0.87),
      200: rgba(#403d39, 0.87),
      300: rgba(#403d39, 0.87),
      400: rgba(#403d39, 0.87),
      500: #fffcf2,
      600: #fffcf2,
      700: #fffcf2,
      800: rgba(#fffcf2, 0.87),
      900: rgba(#fffcf2, 0.87),
      A100: rgba(#403d39, 0.87),
      A200: #fffcf2,
      A400: #fffcf2,
      A700: #fffcf2
    )
);
$mat-red: (
  50: #ffebee,
  100: #ffcdd2,
  200: #ef9a9a,
  300: #e57373,
  400: #ef5350,
  500: #f44336,
  600: #e53935,
  700: #d32f2f,
  800: #c62828,
  900: #b71c1c,
  A100: #ff8a80,
  A200: #ff5252,
  A400: #ff1744,
  A700: #d50000,
  contrast:
    (
      50: rgba(#403d39, 0.87),
      100: rgba(#403d39, 0.87),
      200: rgba(#403d39, 0.87),
      300: rgba(#403d39, 0.87),
      400: rgba(#403d39, 0.87),
      500: #fffcf2,
      600: #fffcf2,
      700: #fffcf2,
      800: rgba(#fffcf2, 0.87),
      900: rgba(#fffcf2, 0.87),
      A100: rgba(#403d39, 0.87),
      A200: #fffcf2,
      A400: #fffcf2,
      A700: #fffcf2
    )
);
$custom-theme-primary: mat-palette($mat-desjardins-fonce);
$custom-theme-accent: mat-palette($mat-desjardins-vert);
$custom-theme-warn: mat-palette($mat-red);
$custom-theme: mat-light-theme($custom-theme-primary, $custom-theme-accent, $custom-theme-warn);
@include angular-material-theme($custom-theme);
