<mat-accordion multi="true">
  <mat-expansion-panel *ngFor="let profile of validationProfiles">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ profile.id }}
      </mat-panel-title>
    </mat-expansion-panel-header>

    <mat-action-row>
      <button mat-button color="accent" (click)="addPropriete(profile)">
        Add
      </button>
    </mat-action-row>

    <mat-accordion multi="true">
      <mat-expansion-panel *ngFor="let propriete of profile.proprietes; let j = index;">
        <mat-expansion-panel-header>
          <mat-panel-title class="tooltip" matTooltip="{{ propriete.comment }}" [matTooltipPosition]="'above'">
            <button #currentCloseButton mat-icon-button matPrefix color="warn" (click)="$event.stopPropagation(); removePropriete(profile.proprietes, j, currentCloseButton)">
              <mat-icon>
                close
              </mat-icon>
            </button> {{ propriete.key }}
          </mat-panel-title>
        </mat-expansion-panel-header>

        <mat-action-row>
          <button mat-button color="accent" (click)="addValue(propriete)">
            Add
          </button>
        </mat-action-row>

        <mat-form-field *ngFor="let value of propriete.values; let i = index; trackBy:trackByIndex" class="propriete">
          <input matInput placeholder="{{propriete.key}}" value="{{value}}" [(ngModel)]="propriete.values[i]" />

          <button *ngIf="propriete.values.length > 1" matPrefix color="warn" mat-icon-button (click)="propriete.values.splice(i, 1);">
            <mat-icon>
              close
            </mat-icon>
          </button>
        </mat-form-field>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-expansion-panel>
</mat-accordion>

<button mat-raised-button color="accent" class="save-button" (click)="saveValidationJSON()" disabled>
  Save
</button>
