<mat-toolbar class="dialogConfig title-header">
  <mat-toolbar-row class="filler">
    <span class="title">
      Mise a jour en cours :
      <b>
        {{ pourcentage }} %
      </b>
    </span>
  </mat-toolbar-row>
</mat-toolbar>

<mat-spinner class="loading"></mat-spinner>
